<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CallerID_Cloud_Relay.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
  
    <userSettings>
        <CallerID_Cloud_Relay.Properties.Settings>
            <setting name="usesAuth" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="useSupplied" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="useDeluxe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="suppliedUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="builtUrl" serializeAs="String">
                <value>[you must first generate your URL]</value>
            </setting>
            <setting name="server" serializeAs="String">
                <value />
            </setting>
            <setting name="line" serializeAs="String">
                <value />
            </setting>
            <setting name="time" serializeAs="String">
                <value />
            </setting>
            <setting name="phone" serializeAs="String">
                <value />
            </setting>
            <setting name="name" serializeAs="String">
                <value />
            </setting>
            <setting name="io" serializeAs="String">
                <value />
            </setting>
            <setting name="se" serializeAs="String">
                <value />
            </setting>
            <setting name="status" serializeAs="String">
                <value />
            </setting>
            <setting name="duration" serializeAs="String">
                <value />
            </setting>
            <setting name="ringNumber" serializeAs="String">
                <value />
            </setting>
            <setting name="ringType" serializeAs="String">
                <value />
            </setting>
            <setting name="hideInSystemTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ignoreOverflow" serializeAs="String">
                <value>False</value>
            </setting>
        </CallerID_Cloud_Relay.Properties.Settings>
    </userSettings>
</configuration>